<!DOCTYPE html>
<html>
    <head>
        <% include template/head.ejs %>
        <% include template/javascript.ejs %>
    </head>
    <body>
        <div class="container-fluid">
            <form action="#" method="get">
            <lable for="userName">Enter your name :  </lable><input id="userName" type="text" size="50px"name="userName" placeholder="userName"/>
            <input class="btn" type="submit" value="Submit"/>
            </form>
        </div>


        <script src="/reload/reload.js"> </script>
    </body>
</html>