<!DOCTYPE html>
<html>
    <head>
        <% include template/head.ejs %>
    </head>
    <body>
        



    <script src="/reload/reload.js"> </script>
    <% include template/javascript.ejs %>
    </body>
</html>